#SundayEntriesRow {
    display: inherit;
}

#MondayEntriesRow {
    display: inherit;
}

#TuesdayEntriesRow {
    display: inherit;
}

#WednesdayEntriesRow {
    display: inherit;
}

#ThursdayEntriesRow {
    display: inherit;
}

#FridayEntriesRow {
    display: inherit;
}

#SaturdayEntriesRow {
    display: inherit;
}

#SundayEntriesRowResp {
    display: none;
}

#MondayEntriesRowResp {
    display: none;
}

#TuesdayEntriesRowResp {
    display: none;
}

#WednesdayEntriesRowResp {
    display: none;
}

#ThursdayEntriesRowResp {
    display: none;
}

#FridayEntriesRowResp {
    display: none;
}

#SaturdayEntriesRowResp {
    display: none;
}

#respAddPadding {
    padding-bottom: 3%;
}

#playlistUsageTableDiv {
    overflow: auto;
    max-height: 56vh;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#cloneWarningText {
    text-align: center;
    font-size: medium;
}

#musicSizeDisplayPanel {
    font-size: medium;
}

@media only screen and (max-width : 900px) {
    #SundayEntriesRow {
        display: none;
    }

    #MondayEntriesRow {
        display: none;
    }

    #TuesdayEntriesRow {
        display: none;
    }

    #WednesdayEntriesRow {
        display: none;
    }

    #ThursdayEntriesRow {
        display: none;
    }

    #FridayEntriesRow {
        display: none;
    }

    #SaturdayEntriesRow {
        display: none;
    }

    #SundayEntriesRowResp {
        display: inherit;
    }

    #MondayEntriesRowResp {
        display: inherit;
    }

    #TuesdayEntriesRowResp {
        display: inherit;
    }

    #WednesdayEntriesRowResp {
        display: inherit;
    }

    #ThursdayEntriesRowResp {
        display: inherit;
    }

    #FridayEntriesRowResp {
        display: inherit;
    }

    #SaturdayEntriesRowResp {
        display: inherit;
    }

    #respAddPadding {
        padding-bottom: 21%;
    }

    #playlistUsageTableDiv {
        overflow: auto;
        max-height: 55vh;
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }

    #cloneWarningText {
        text-align: center;
        font-size: small;
    }

    #musicSizeDisplayPanel {
        font-size: small;
    }
}