#largescreenAdminTasks {
    display: inline;
}

#mobilescreenAdminTasks {
    display: none;
}

#fullVenueName {
    display: inline;
}

#tracksListTableDiv {
    overflow: scroll;
    height: 56vh;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

@media only screen and (max-width : 900px) {
    #largescreenAdminTasks {
        display: none;
    }

    #mobilescreenAdminTasks {
        display: inline;
    }

    #tracksListTableDiv {
        overflow: scroll;
        height: 44vh;
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }

    #fullVenueName
    {
        display: inline;
        font-size: 12px;
    }

    #editVenueModalBody {
        max-height: 62vh;
        overflow: auto;
    }
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #trialEntryTable table,
    #trialEntryTable thead,
    #trialEntryTable tbody,
    #trialEntryTable th,
    #trialEntryTable td,
    #trialEntryTable tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #trialEntryTable thead th tr {
        /*position: absolute;
        top: -9999px;
        left: -9999px;*/
        display: none!important;
        visibility: hidden!important;
    }

    #trialEntryTable tr { border: 1px solid #ccc; }

    #trialEntryTable td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #trialEntryTable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #trialEntryTable td:before { content: attr(data-title); }
}